<%- include('./partials/header.ejs')  %>
<%- include('./partials/navbar.ejs')  %>    
      <!-- Contact -->
        <section class="contact-area">
            <div class="container">
                <div class="gx-row d-flex justify-content-center gap-24">
                    <div class="contact-infos">
                        <h3 data-aos="fade-up">Contact Info</h3>
                        <ul class="contact-details">
                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-mail"></i>
                                </div>
                                <div class="right">
                                    <span>MAIL us</span>
                                    <h4>mohammmedbella@gmail.com</h4>
                                    <h4>mo7amedbella0@gmail.com</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-phone"></i>
                                </div>
                                <div class="right">
                                    <span>Contact Us</span>
                                    <h4>+212632244668</h4>
                                    <h4>+212722214468</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-pin-alt"></i>
                                </div>
                                <div class="right">
                                    <span>Location</span>
                                    <h4>MOROCCO <br>KENITRA <br>MAAMORA </h4>
                                </div>
                            </li>
                        </ul>

                        <h3 data-aos="fade-up">Social Info</h3>
                        <ul class="social-links d-flex align-center" data-aos="zoom-in">
                            <li><a class="shadow-box" href="https://github.com/mohammmedbella"><i class="iconoir-github"></i></a></li>
                            <li><a class="shadow-box" href="https://twitter.com/mo7amedbella"><i class="iconoir-twitter"></i></a></li>
                            <li><a class="shadow-box" href="https://instagram.com/mu7ammedbella"><i class="iconoir-instagram"></i></a></li>
                        </ul>
                    </div>

                 
                    
                </div>
            </div>
        </section>
        <%- include('./partials/footer.ejs')  %>
